openapi: 3.0.0
info:
  title: Netdata agent data API
  description: 'Real-time performance and health monitoring.


    ## API Versions


    Netdata provides three API versions:

    - **v1**: The original API, focused on single-node operations

    - **v2**: Multi-node API with advanced grouping and aggregation capabilities

    - **v3**: The latest API version that combines v1 and v2 endpoints and may include additional features


    ### v3 API Endpoints


    The v3 API provides the current, actively maintained endpoints:

    - `/api/v3/data` - Multi-dimensional data queries

    - `/api/v3/weights` - Metric scoring/correlation

    - `/api/v3/contexts` - Context metadata

    - `/api/v3/nodes` - Node information

    - `/api/v3/q` - Full-text search

    - `/api/v3/alerts` - Alert information

    - `/api/v3/alert_transitions` - Alert state transitions

    - `/api/v3/alert_config` - Alert configuration

    - `/api/v3/functions` - Available functions

    - `/api/v3/function` - Execute functions

    - `/api/v3/info` - Agent information

    - `/api/v3/node_instances` - Node instance information

    - `/api/v3/stream_path` - Streaming topology

    - `/api/v3/versions` - Version information

    - `/api/v3/badge.svg` - Dynamic badges

    - `/api/v3/allmetrics` - Export metrics

    - `/api/v3/context` - Single context info

    - `/api/v3/variable` - Variable information

    - `/api/v3/config` - Dynamic configuration

    - `/api/v3/settings` - Agent settings

    - `/api/v3/me` - Current user information

    - `/api/v3/claim` - Agent claiming

    - Additional management and streaming endpoints


    **Note:** V1 and V2 APIs are deprecated and maintained for backwards compatibility only. New integrations should use V3 exclusively.

    '
  version: v1-rolling
  contact:
    name: Netdata Agent API
    email: info@netdata.cloud
    url: https://netdata.cloud
  license:
    name: GPL v3+
    url: https://github.com/netdata/netdata/blob/master/LICENSE
servers:
- url: https://registry.my-netdata.io
- url: http://registry.my-netdata.io
- url: http://localhost:19999
tags:
- name: data
  description: Everything related to data queries
paths:
  /api/v2/data:
    get:
      deprecated: true
      operationId: dataQuery2
      tags:
      - data
      summary: Data Query v2
      description: 'Multi-node, multi-context, multi-instance, multi-dimension data queries, with time and metric aggregation.


        **Security & Access Control:**

        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply

        - **Default Access:** Public (no authentication required)

        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token

        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf

        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools

        '
      security:
      - {}
      - bearerAuth: []
      parameters:
      - name: group_by
        in: query
        description: 'A comma separated list of the groupings required.

          All possible values can be combined together, except `selected`. If `selected` is given in the list, all others are ignored.

          The order they are placed in the list is currently ignored.

          This parameter is also accepted as `group_by[0]` and `group_by[1]` when multiple grouping passes are required.

          '
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - dimension
            - instance
            - percentage-of-instance
            - label
            - node
            - context
            - units
            - selected
          default:
          - dimension
      - name: group_by_label
        in: query
        description: 'A comma separated list of the label keys to group by their values. The order of the labels in the list is respected.

          This parameter is also accepted as `group_by_label[0]` and `group_by_label[1]` when multiple grouping passes are required.

          '
        required: false
        schema:
          type: string
          format: comma separated list of label keys to group by
          default: ''
      - name: aggregation
        in: query
        description: 'The aggregation function to apply when grouping metrics together.

          When option `raw` is given, `average` and `avg` behave like `sum` and the caller is expected to calculate the average.

          This parameter is also accepted as `aggregation[0]` and `aggregation[1]` when multiple grouping passes are required.

          '
        required: false
        schema:
          type: string
          enum:
          - min
          - max
          - avg
          - average
          - sum
          - percentage
          - extremes
          default: average
      - $ref: '#/components/parameters/scopeNodes'
      - $ref: '#/components/parameters/scopeContexts'
      - $ref: '#/components/parameters/scopeInstances'
      - $ref: '#/components/parameters/scopeLabels'
      - $ref: '#/components/parameters/scopeDimensions'
      - $ref: '#/components/parameters/filterNodes'
      - $ref: '#/components/parameters/filterContexts'
      - $ref: '#/components/parameters/filterInstances'
      - $ref: '#/components/parameters/filterLabels'
      - $ref: '#/components/parameters/filterAlerts'
      - $ref: '#/components/parameters/filterDimensions'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/points'
      - $ref: '#/components/parameters/tier'
      - $ref: '#/components/parameters/dataQueryOptions'
      - $ref: '#/components/parameters/dataTimeGroup2'
      - $ref: '#/components/parameters/dataTimeGroupOptions2'
      - $ref: '#/components/parameters/dataTimeResampling2'
      - $ref: '#/components/parameters/dataFormat2'
      - $ref: '#/components/parameters/cardinalityLimit'
      - $ref: '#/components/parameters/timeoutMS'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/filename'
      - $ref: '#/components/parameters/tqx'
      responses:
        '200':
          description: 'The call was successful. The response includes the data in the format requested.

            '
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/jsonwrap2'
                - $ref: '#/components/schemas/data_json_formats2'
            text/plain:
              schema:
                type: string
                format: according to the format requested.
            text/html:
              schema:
                type: string
                format: html
            application/x-javascript:
              schema:
                type: string
                format: javascript
        '400':
          description: 'Bad request - the body will include a message stating what is wrong.

            '
        '500':
          description: 'Internal server error. This usually means the server is out of memory.

            '
  /api/v3/data:
    get:
      operationId: dataQuery3
      tags:
      - data
      summary: Data Query v3
      description: 'Multi-node, multi-context, multi-instance, multi-dimension data queries, with time and metric aggregation.


        **Security & Access Control:**

        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply

        - **Default Access:** Public (no authentication required)

        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token

        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf

        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools

        '
      security:
      - {}
      - bearerAuth: []
      parameters:
      - name: group_by
        in: query
        description: 'A comma separated list of the groupings required.

          All possible values can be combined together, except `selected`. If `selected` is given in the list, all others are ignored.

          The order they are placed in the list is currently ignored.

          This parameter is also accepted as `group_by[0]` and `group_by[1]` when multiple grouping passes are required.

          '
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - dimension
            - instance
            - percentage-of-instance
            - label
            - node
            - context
            - units
            - selected
          default:
          - dimension
      - name: group_by_label
        in: query
        description: 'A comma separated list of the label keys to group by their values. The order of the labels in the list is respected.

          This parameter is also accepted as `group_by_label[0]` and `group_by_label[1]` when multiple grouping passes are required.

          '
        required: false
        schema:
          type: string
          format: comma separated list of label keys to group by
          default: ''
      - name: aggregation
        in: query
        description: 'The aggregation function to apply when grouping metrics together.

          When option `raw` is given, `average` and `avg` behave like `sum` and the caller is expected to calculate the average.

          This parameter is also accepted as `aggregation[0]` and `aggregation[1]` when multiple grouping passes are required.

          '
        required: false
        schema:
          type: string
          enum:
          - min
          - max
          - avg
          - average
          - sum
          - percentage
          - extremes
          default: average
      - $ref: '#/components/parameters/scopeNodes'
      - $ref: '#/components/parameters/scopeContexts'
      - $ref: '#/components/parameters/scopeInstances'
      - $ref: '#/components/parameters/scopeLabels'
      - $ref: '#/components/parameters/scopeDimensions'
      - $ref: '#/components/parameters/filterNodes'
      - $ref: '#/components/parameters/filterContexts'
      - $ref: '#/components/parameters/filterInstances'
      - $ref: '#/components/parameters/filterLabels'
      - $ref: '#/components/parameters/filterAlerts'
      - $ref: '#/components/parameters/filterDimensions'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/points'
      - $ref: '#/components/parameters/tier'
      - $ref: '#/components/parameters/dataQueryOptions'
      - $ref: '#/components/parameters/dataTimeGroup2'
      - $ref: '#/components/parameters/dataTimeGroupOptions2'
      - $ref: '#/components/parameters/dataTimeResampling2'
      - $ref: '#/components/parameters/dataFormat2'
      - $ref: '#/components/parameters/cardinalityLimit'
      - $ref: '#/components/parameters/timeoutMS'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/filename'
      - $ref: '#/components/parameters/tqx'
      responses:
        '200':
          description: 'The call was successful. The response includes the data in the format requested.

            '
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/jsonwrap2'
                - $ref: '#/components/schemas/data_json_formats2'
            text/plain:
              schema:
                type: string
                format: according to the format requested.
            text/html:
              schema:
                type: string
                format: html
            application/x-javascript:
              schema:
                type: string
                format: javascript
        '400':
          description: 'Bad request - the body will include a message stating what is wrong.

            '
        '500':
          description: 'Internal server error. This usually means the server is out of memory.

            '
  /api/v1/data:
    get:
      deprecated: true
      operationId: dataQuery1
      tags:
      - data
      summary: Data Query v1 - Single node, single chart or context queries. without group-by.
      description: 'Query metric data of a chart or context of a node and return a dataset having time-series data for all dimensions available.

        For group-by functionality, use `/api/v2/data`.

        At least a `chart` or a `context` have to be given for the data query to be executed.


        **Security & Access Control:**

        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply

        - **Default Access:** Public (no authentication required)

        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token

        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf

        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools

        '
      security:
      - {}
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/chart'
      - $ref: '#/components/parameters/context'
      - $ref: '#/components/parameters/dimension'
      - $ref: '#/components/parameters/chart_label_key'
      - $ref: '#/components/parameters/chart_labels_filter'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/points'
      - $ref: '#/components/parameters/tier'
      - $ref: '#/components/parameters/dataQueryOptions'
      - $ref: '#/components/parameters/dataFormat1'
      - $ref: '#/components/parameters/dataTimeGroup1'
      - $ref: '#/components/parameters/dataTimeGroupOptions1'
      - $ref: '#/components/parameters/dataTimeResampling1'
      - $ref: '#/components/parameters/timeoutMS'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/filename'
      - $ref: '#/components/parameters/tqx'
      responses:
        '200':
          description: 'The call was successful. The response includes the data in the format requested.

            '
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/jsonwrap1'
                - $ref: '#/components/schemas/data_json_formats1'
            text/plain:
              schema:
                type: string
                format: according to the format requested.
            text/html:
              schema:
                type: string
                format: html
            application/x-javascript:
              schema:
                type: string
                format: javascript
        '400':
          description: Bad request - the body will include a message stating what is wrong.
        '404':
          description: Chart or context is not found. The supplied chart or context will be reported.
        '500':
          description: Internal server error. This usually means the server is out of memory.
  /api/v1/allmetrics:
    get:
      deprecated: true
      operationId: allMetrics1
      tags:
      - data
      summary: All Metrics v1 - Fetch latest value for all metrics
      description: 'The `allmetrics` endpoint returns the latest value of all metrics maintained for a netdata node.


        **Security & Access Control:**

        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply

        - **Default Access:** Public (no authentication required)

        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token

        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf

        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools

        '
      security:
      - {}
      - bearerAuth: []
      parameters:
      - name: format
        in: query
        description: The format of the response to be returned.
        required: true
        schema:
          type: string
          enum:
          - shell
          - prometheus
          - prometheus_all_hosts
          - json
          default: shell
      - name: filter
        in: query
        description: Allows to filter charts out using simple patterns.
        required: false
        schema:
          type: string
          format: any text
      - name: variables
        in: query
        description: 'When enabled, netdata will expose various system configuration variables.

          '
        required: false
        schema:
          type: string
          enum:
          - true
          - false
          default: false
      - name: timestamps
        in: query
        description: 'Enable or disable timestamps in prometheus output.

          '
        required: false
        schema:
          type: string
          enum:
          - true
          - false
          default: true
      - name: names
        in: query
        description: 'When enabled netdata will report dimension names. When disabled netdata will report dimension IDs. The default is controlled in netdata.conf.

          '
        required: false
        schema:
          type: string
          enum:
          - true
          - false
          default: true
      - name: oldunits
        in: query
        description: 'When enabled, netdata will show metric names for the default `source=average` as they appeared before 1.12, by using the legacy unit naming conventions.

          '
        required: false
        schema:
          type: string
          enum:
          - true
          - false
          default: true
      - name: hideunits
        in: query
        description: 'When enabled, netdata will not include the units in the metric names, for the default `source=average`.

          '
        required: false
        schema:
          type: string
          enum:
          - true
          - false
          default: true
      - name: server
        in: query
        description: 'Set a distinct name of the client querying prometheus metrics. Netdata will use the client IP if this is not set.

          '
        required: false
        schema:
          type: string
          format: any text
      - name: prefix
        in: query
        description: 'Prefix all prometheus metrics with this string.

          '
        required: false
        schema:
          type: string
          format: any text
      - name: data
        in: query
        description: 'Select the prometheus response data source. There is a setting in netdata.conf for the default.

          '
        required: false
        schema:
          type: string
          enum:
          - as-collected
          - average
          - sum
          default: average
      responses:
        '200':
          description: All the metrics returned in the format requested.
        '400':
          description: The format requested is not supported.
  /api/v3/allmetrics:
    get:
      operationId: allMetrics3
      tags:
      - data
      summary: All Metrics v3 - Export all metrics in various formats - Latest API
      description: 'The `allmetrics` endpoint exports the latest values of all metrics collected by Netdata in various formats suitable for integration with external monitoring systems, shell scripts, or APIs.


        This is the latest version (v3) of the allmetrics API. It provides the same functionality as v1 but may include additional features in the future.


        **Supported Export Formats:**

        - **shell**: Bash-compatible variable assignments for scripting (NETDATA_CHARTNAME_DIMENSIONNAME="value")

        - **prometheus**: Prometheus exposition format for a single host

        - **prometheus_all_hosts**: Prometheus format including metrics from all child nodes

        - **json**: JSON format with full chart and dimension metadata


        **Use Cases:**

        - Integration with Prometheus or other metric collectors

        - Shell script automation and monitoring

        - Custom metric exporters

        - Multi-host metric aggregation


        **Security & Access Control:**

        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply

        - **Default Access:** Public (no authentication required)

        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token

        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf

        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools

        '
      security:
      - {}
      - bearerAuth: []
      parameters:
      - name: format
        in: query
        description: 'The export format for the metrics. Required parameter.


          **Formats:**

          - `shell`: Bash variables (default) - Exports as NETDATA_CHARTNAME_DIMENSIONNAME="value"

          - `prometheus`: Prometheus format (single host) - Compatible with Prometheus scraping

          - `prometheus_all_hosts`: Prometheus format (all hosts) - Includes metrics from child nodes with host labels

          - `json`: JSON format - Full metadata including chart names, families, contexts, units, and timestamps


          **Format Details:**

          - Shell format includes alarm status variables (NETDATA_ALARM_CHART_ALARM_STATUS, NETDATA_ALARM_CHART_ALARM_VALUE)

          - Prometheus formats respect Prometheus metric naming conventions

          - JSON format provides complete chart and dimension information

          '
        required: true
        schema:
          type: string
          enum:
          - shell
          - prometheus
          - prometheus_all_hosts
          - json
          default: shell
      - name: filter
        in: query
        description: 'Simple pattern filter to include only specific charts. Uses Netdata simple pattern matching.


          **Pattern Syntax:**

          - Exact match: `system.cpu`

          - Wildcard: `system.*` (all system charts)

          - Multiple patterns: `system.* disk.*` (space-separated)

          - Negation: `!system.cpu` (exclude specific chart)


          When not specified, all charts are exported.


          **Examples:**

          - `system.*` - Export only system charts

          - `disk.* net.*` - Export disk and network charts

          - `* !*.mdstat` - Export all except mdstat charts

          '
        required: false
        schema:
          type: string
      - name: variables
        in: query
        description: '**Prometheus format only**: Include or exclude system configuration variables in the output.


          When enabled (yes/1/true), Netdata exposes various system configuration variables as Prometheus metrics. This includes:

          - Netdata configuration parameters

          - System environment information

          - Collection plugin states


          Note: Only affects Prometheus format output. Ignored for shell and json formats.

          '
        required: false
        schema:
          type: string
          enum:
          - 'yes'
          - 'no'
          - '1'
          - '0'
          - 'true'
          - 'false'
          default: 'no'
      - name: timestamps
        in: query
        description: '**Prometheus format only**: Include or exclude timestamps in Prometheus metrics.


          When enabled (default), each metric includes a timestamp of when it was collected.

          When disabled, metrics are exported without timestamps (Prometheus will use scrape time).


          Note: Only affects Prometheus format output. Ignored for shell and json formats.

          '
        required: false
        schema:
          type: string
          enum:
          - 'yes'
          - 'no'
          - '1'
          - '0'
          - 'true'
          - 'false'
          default: 'yes'
      - name: names
        in: query
        description: '**Prometheus format only**: Use dimension names vs IDs in metric names.


          When enabled (default), Prometheus metrics use human-readable dimension names.

          When disabled, metrics use dimension IDs (which never change).


          **Example:**

          - names=yes: `netdata_system_cpu_percentage_average{dimension="user"}`

          - names=no: `netdata_system_cpu_percentage_average{dimension="user"}`


          The default is controlled by the global Netdata configuration. This parameter allows per-request override.


          Note: Only affects Prometheus format output.

          '
        required: false
        schema:
          type: string
          enum:
          - 'yes'
          - 'no'
          - '1'
          - '0'
          - 'true'
          - 'false'
      - name: oldunits
        in: query
        description: '**Prometheus format only**: Use legacy unit naming conventions (pre-1.12 format).


          When enabled, metric names for `source=average` use the old unit naming conventions as they appeared before Netdata version 1.12.


          This is provided for backward compatibility with existing Prometheus configurations.


          Note: Only affects Prometheus format with source=average.

          '
        required: false
        schema:
          type: string
          enum:
          - 'yes'
          - 'no'
          - '1'
          - '0'
          - 'true'
          - 'false'
          default: 'no'
      - name: hideunits
        in: query
        description: '**Prometheus format only**: Exclude units from metric names for source=average.


          When enabled, units are not included in the Prometheus metric names for the default `source=average` data.


          **Example:**

          - hideunits=no: `netdata_system_cpu_percentage_average`

          - hideunits=yes: `netdata_system_cpu_average`


          Note: Only affects Prometheus format with source=average.

          '
        required: false
        schema:
          type: string
          enum:
          - 'yes'
          - 'no'
          - '1'
          - '0'
          - 'true'
          - 'false'
          default: 'no'
      - name: server
        in: query
        description: '**Prometheus format only**: Set a custom identifier for the client scraping the metrics.


          This parameter is used to identify the client in Prometheus metric labels. If not specified, Netdata uses the client''s IP address.


          Useful when multiple Prometheus instances scrape the same Netdata agent, or when scraping through a proxy.


          **Example:** `server=prometheus-prod-1`


          Note: Only affects Prometheus format output. This value appears in metric labels to distinguish scraping sources.

          '
        required: false
        schema:
          type: string
      - name: prefix
        in: query
        description: '**Prometheus format only**: Prefix all Prometheus metric names with a custom string.


          Useful for namespacing metrics when aggregating from multiple sources or to comply with organizational metric naming conventions.


          **Example:** `prefix=mycompany_` produces metrics like `mycompany_system_cpu_percentage_average`


          The default prefix is controlled by the global Netdata configuration. This parameter allows per-request override.


          Note: Only affects Prometheus format output.

          '
        required: false
        schema:
          type: string
      - name: data
        in: query
        description: '**Prometheus format only**: Select the data source/aggregation method for Prometheus metrics.


          **Options:**

          - `as-collected`: Raw values as collected by data collection plugins (no aggregation)

          - `average`: Average values over the collection interval (default)

          - `sum`: Sum of values over the collection interval


          The `as-collected` source provides the most recent raw sample, while `average` and `sum` provide values aggregated over the chart''s update interval.


          The default is controlled by the global Netdata exporting configuration. This parameter allows per-request override.


          **Use Cases:**

          - `as-collected`: For counter metrics that Prometheus will rate()

          - `average`: For gauge metrics showing typical values

          - `sum`: For accumulating metrics


          Aliases: `source`, `data source`, `data-source`, `data_source`, `datasource`


          Note: Only affects Prometheus format output.

          '
        required: false
        schema:
          type: string
          enum:
          - as-collected
          - average
          - sum
          default: average
      responses:
        '200':
          description: 'Success. Metrics exported in the requested format.


            **Content Types:**

            - shell: text/plain

            - json: application/json

            - prometheus/prometheus_all_hosts: application/openmetrics-text (Prometheus format)


            **Response Characteristics:**

            - Shell format: Variables ready for sourcing in bash scripts

            - JSON format: Complete chart metadata with current values

            - Prometheus format: Ready for Prometheus scraping


            The response is not cacheable as it contains current metric values.

            '
          content:
            text/plain:
              schema:
                type: string
                description: Shell format output (when format=shell)
            application/json:
              schema:
                type: object
                description: JSON format output (when format=json)
            application/openmetrics-text:
              schema:
                type: string
                description: Prometheus format output (when format=prometheus or prometheus_all_hosts)
        '400':
          description: 'Bad request. The response body contains an error message.


            Common causes:

            - Invalid or missing ''format'' parameter

            - Unsupported format value

            - Invalid filter pattern syntax

            '
        '500':
          description: Internal server error. Usually indicates the server is out of memory or a collection plugin has crashed.
  /api/v1/variable:
    get:
      deprecated: true
      operationId: variable1
      tags:
      - data
      summary: '[DEPRECATED] Get a chart variable value'
      description: '**[DEPRECATED - Use `/api/v3/variable` instead]**


        **Chart Variable Retrieval**


        This endpoint returns the current value of a chart variable. Variables are values computed by Netdata that can be used in alert expressions and calculations. Each chart can have multiple variables representing different aspects of its data.


        **Common Variables:**

        - Calculated values (averages, sums, percentages)

        - Threshold values used in alerts

        - State information (counts, flags)

        - Time-based values (last update, collection duration)


        **Use Cases:**

        - **Alert Debugging:** Check variable values used in alert conditions

        - **Custom Calculations:** Retrieve computed values for external processing

        - **Monitoring Verification:** Verify that calculated variables match expectations

        - **Integration:** Feed variable values to external monitoring systems


        **Migration to v3:**

        Use `/api/v3/variable` which provides the same functionality with enhanced error handling and clearer response format.


        **Security:**

        - Requires appropriate data access permissions

        - Variables may contain sensitive metrics information


        **Security & Access Control:**

        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply

        - **Default Access:** Public (no authentication required)

        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token

        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf

        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools

        '
      security:
      - {}
      - bearerAuth: []
      parameters:
      - name: chart
        in: query
        description: 'Chart ID for which to retrieve the variable. This is the full chart ID as shown in the dashboard.


          **Examples:**

          - `system.cpu` - System CPU usage chart

          - `disk.sda.io` - Disk I/O for sda

          - `nginx_local.connections` - Nginx connections

          '
        required: true
        schema:
          type: string
        example: system.cpu
      - name: variable
        in: query
        description: 'Variable name to retrieve. Each chart has different variables available depending on its configuration and alert definitions.


          **Common Variables:**

          - `used` - Used value (for utilization charts)

          - `free` - Free value (for utilization charts)

          - `value` - Current value

          - `avg` - Average value

          - `sum` - Sum of all dimensions

          - Custom variable names defined in alert configurations

          '
        required: true
        schema:
          type: string
        example: used
      responses:
        '200':
          description: Variable value returned successfully
          content:
            text/plain:
              schema:
                type: number
                format: double
              example: 42.5
        '400':
          description: Bad request - missing chart or variable parameter
        '404':
          description: Chart or variable not found
components:
  parameters:
    context:
      name: context
      in: query
      description: The context of the chart as returned by the /charts call.
      required: false
      allowEmptyValue: false
      schema:
        type: string
        format: as returned by /charts
    dataFormat2:
      name: format
      in: query
      description: The format of the data to be returned.
      allowEmptyValue: false
      schema:
        type: string
        enum:
        - json
        - json2
        - jsonp
        - csv
        - tsv
        - tsv-excel
        - ssv
        - ssvcomma
        - datatable
        - datasource
        - html
        - markdown
        - array
        - csvjsonarray
        default: json2
    dataFormat1:
      name: format
      in: query
      description: The format of the data to be returned.
      allowEmptyValue: false
      schema:
        type: string
        enum:
        - json
        - jsonp
        - csv
        - tsv
        - tsv-excel
        - ssv
        - ssvcomma
        - datatable
        - datasource
        - html
        - markdown
        - array
        - csvjsonarray
        default: json
    dataTimeGroupOptions1:
      name: group_options
      in: query
      description: 'When the time grouping function supports additional parameters, this field can be used to pass them to it. Currently `countif`, `trimmed-mean`, `trimmed-median` and `percentile` support this. For `countif` the string may start with `<`, `<=`, `<:`, `<>`, `!=`, `>`, `>=`, `>:`. For all others just a number is expected.

        '
      required: false
      schema:
        type: string
    filterLabels:
      name: labels
      in: query
      description: 'A simple pattern matching the labels to be queried. The simple pattern is checked against `name:value` of all the labels of all the eligible instances (as filtered by all the above: scope nodes, scope contexts, nodes, contexts and instances). Negative simple patterns should not be used in this filter.

        '
      required: false
      schema:
        type: string
        format: simple pattern
        default: '*'
    dataTimeGroup2:
      name: time_group
      in: query
      description: 'Time aggregation function. If multiple collected values are to be grouped in order to return fewer points, this parameters defines the method of grouping. If the `absolute` option is set, the values are turned positive before applying this calculation.

        '
      required: false
      schema:
        type: string
        enum:
        - min
        - max
        - avg
        - average
        - median
        - stddev
        - sum
        - incremental-sum
        - ses
        - des
        - cv
        - countif
        - percentile
        - percentile25
        - percentile50
        - percentile75
        - percentile80
        - percentile90
        - percentile95
        - percentile97
        - percentile98
        - percentile99
        - trimmed-mean
        - trimmed-mean1
        - trimmed-mean2
        - trimmed-mean3
        - trimmed-mean5
        - trimmed-mean10
        - trimmed-mean15
        - trimmed-mean20
        - trimmed-mean25
        - trimmed-median
        - trimmed-median1
        - trimmed-median2
        - trimmed-median3
        - trimmed-median5
        - trimmed-median10
        - trimmed-median15
        - trimmed-median20
        - trimmed-median25
        - ema
        - extremes
        default: average
    filename:
      name: filename
      in: query
      description: 'Add `Content-Disposition: attachment; filename=` header to the response, that will instruct the browser to save the response with the given filename."

        '
      required: false
      schema:
        type: string
    cardinalityLimit:
      name: cardinality_limit
      in: query
      description: 'Limits the number of unique items (contexts, instances, dimensions) returned in the query result. This is useful for preventing excessive memory usage and response sizes when queries match a large number of metrics. The query engine will return the most relevant items up to this limit.

        '
      required: false
      schema:
        type: integer
        format: int64
        minimum: 1
        default: 10000
    dataTimeGroupOptions2:
      name: time_group_options
      in: query
      description: 'When the time grouping function supports additional parameters, this field can be used to pass them to it. Currently `countif`, `trimmed-mean`, `trimmed-median` and `percentile` support this. For `countif` the string may start with `<`, `<=`, `<:`, `<>`, `!=`, `>`, `>=`, `>:`. For all others just a number is expected.

        '
      required: false
      schema:
        type: string
    chart:
      name: chart
      in: query
      description: The id of the chart as returned by the `/api/v1/charts` call.
      required: false
      allowEmptyValue: false
      schema:
        type: string
        format: as returned by `/api/v1/charts`
    tier:
      name: tier
      in: query
      description: 'Use only the given dbengine tier for executing the query. Setting this parameters automatically sets the option `selected-tier` for the query.

        '
      required: false
      schema:
        type: number
        format: integer
    scopeContexts:
      name: scope_contexts
      in: query
      description: 'A simple pattern limiting the contexts scope of the query. The scope controls both data and metadata response. The default contexts scope is all contexts for which this Agent has data for. Usually the contexts scope is used to slice data on the dashboard (e.g. each context based chart has its own contexts scope, limiting the chart to all the instances of the selected context). Both positive and negative simple pattern expressions are supported.

        '
      required: false
      schema:
        type: string
        format: simple pattern
        default: '*'
    dataQueryOptions:
      name: options
      in: query
      description: "Options that affect data generation.\n* `jsonwrap` - Wrap the output in a JSON object with metadata about the query.\n* `raw` - change the output so that it is aggregatable across multiple such queries. Supported by `/api/v2` data queries and `json2` format.\n* `minify` - Remove unnecessary spaces and newlines from the output.\n* `debug` - Provide additional information in `jsonwrap` output to help tracing issues.\n* `nonzero` - Do not return dimensions that all their values are zero, to improve the visual appearance of charts. They will still be returned if all the dimensions are entirely zero.\n* `null2zero` - Replace `null` values with `0`.\n* `absolute` or `abs` - Traditionally Netdata returns select dimensions negative to improve visual appearance. This option turns this feature off.\n* `display-absolute` - Only used by badges, to do color calculation using the signed value, but render the value without a sign.\n* `flip` or `reversed` - Order the timestamps array in reverse order (newest to oldest).\n* `min2max` - When flattening multi-dimensional data into a single metric format, use `max - min` instead of `sum`. This is EOL - use `/api/v2` to control aggregation across dimensions.\n* `percentage` - Convert all values into a percentage vs the row total. When enabled, Netdata will query all dimensions, even the ones that have not been selected or are hidden, to find the row total, in order to calculate the percentage of each dimension selected.\n* `seconds` - Output timestamps in seconds instead of dates.\n* `milliseconds` or `ms` - Output timestamps in milliseconds instead of dates.\n* `unaligned` - by default queries are aligned to the the view, so that as time passes past data returned do not change. When a data query will not be used for visualization, `unaligned` can be given to avoid aligning the query time-frame for visual precision.\n* `match-ids`, `match-names`. By default filters match both IDs and names when they are available. Setting either of the two options will disable the other.\n* `anomaly-bit` - query the anomaly information instead of metric values. This is EOL, use `/api/v2` and `json2` format which always returns this information and many more.\n* `jw-anomaly-rates` - return anomaly rates as a separate result set in the same `json` format response. This is EOL, use `/api/v2` and `json2` format which always returns information and many more. \n* `details` - `/api/v2/data` returns in `jsonwrap` the full tree of dimensions that have been matched by the query.\n* `group-by-labels` - `/api/v2/data` returns in `jsonwrap` flattened labels per output dimension. These are used to identify the instances that have been aggregated into each dimension, making it possible to provide a map, like Netdata does for Kubernetes.\n* `natural-points` - return timestamps as found in the database. The result is again fixed-step, but the query engine attempts to align them with the timestamps found in the database.\n* `virtual-points` - return timestamps independent of the database alignment. This is needed aggregating data across multiple Netdata Agents, to ensure that their outputs do not need to be interpolated to be merged.\n* `selected-tier` - use data exclusively from the selected tier given with the `tier` parameter. This option is set automatically when the `tier` parameter is set.\n* `all-dimensions` - In `/api/v1` `jsonwrap` include metadata for all candidate metrics examined. In `/api/v2` this is standard behavior and no option is needed.\n* `label-quotes` - In `csv` output format, enclose each header label in quotes.\n* `objectrows` - Each row of value should be an object, not an array (only for `json` format).\n* `google_json` - Comply with google JSON/JSONP specs (only for `json` format).\n* `minimal-stats` or `minimal` - Reduce the amount of statistics returned in `jsonwrap` format to save bandwidth.\n* `long-json-keys` or `long-keys` - Use descriptive key names in JSON output instead of abbreviated ones.\n* `mcp-info` - Include additional metadata useful for the Model Context Protocol (MCP) integration.\n* `rfc3339` - Return timestamps in RFC3339 format (e.g., \"2023-01-01T00:00:00Z\") instead of Unix timestamps.\n"
      required: false
      allowEmptyValue: false
      schema:
        type: array
        items:
          type: string
          enum:
          - jsonwrap
          - raw
          - minify
          - debug
          - nonzero
          - null2zero
          - abs
          - absolute
          - display-absolute
          - flip
          - reversed
          - min2max
          - percentage
          - seconds
          - ms
          - milliseconds
          - unaligned
          - match-ids
          - match-names
          - anomaly-bit
          - jw-anomaly-rates
          - details
          - group-by-labels
          - natural-points
          - virtual-points
          - selected-tier
          - all-dimensions
          - label-quotes
          - objectrows
          - google_json
          - minimal-stats
          - minimal
          - long-json-keys
          - long-keys
          - mcp-info
          - rfc3339
        default:
        - seconds
        - jsonwrap
    chart_labels_filter:
      name: chart_labels_filter
      in: query
      description: 'Specify the chart label keys and values to match for context queries. All keys/values need to match for the chart to be included in the query. The labels are specified as key1:value1,key2:value2

        '
      required: false
      allowEmptyValue: false
      schema:
        type: string
        format: key1:value1,key2:value2,key3:value3
    scopeLabels:
      name: scope_labels
      in: query
      description: 'A simple pattern limiting the labels scope of the query. The scope controls both data and metadata response. This limits which instances are even considered for the query based on their labels. The simple pattern is checked against `name:value` of all the labels of all the eligible instances (as filtered by scope nodes, scope contexts, and scope instances). Only instances having labels that match this pattern will be included in the query. Both positive and negative simple pattern expressions are supported.

        '
      required: false
      schema:
        type: string
        format: simple pattern
        default: '*'
    chart_label_key:
      name: chart_label_key
      in: query
      description: 'Specify the chart label keys that need to match for context queries as comma separated values. At least one matching key is needed to match the corresponding chart.

        '
      required: false
      allowEmptyValue: false
      schema:
        type: string
        format: key1,key2,key3
    dimension:
      name: dimension
      in: query
      description: Zero, one or more dimension ids or names, as returned by the /chart call, separated with comma or pipe. Netdata simple patterns are supported.
      required: false
      allowEmptyValue: false
      schema:
        type: array
        items:
          type: string
          format: as returned by /charts
    filterContexts:
      name: contexts
      in: query
      description: 'A simple pattern matching the contexts to be queried. This only controls the data response, not the metadata. Both positive and negative simple pattern expressions are supported.

        '
      required: false
      schema:
        type: string
        format: simple pattern
        default: '*'
    scopeInstances:
      name: scope_instances
      in: query
      description: 'A simple pattern limiting the instances scope of the query. The scope controls both data and metadata response. This limits which instances are even considered for the query, including their visibility in the query response metadata. The simple pattern is checked against the instance `id`, the instance `name`, the fully qualified name of the instance `id` and `name`, like `instance@machine_guid`, where `instance` is either its `id` or `name`. Both positive and negative simple pattern expressions are supported.

        '
      required: false
      schema:
        type: string
        format: simple pattern
        default: '*'
    dataTimeResampling2:
      name: time_resampling
      in: query
      description: 'For incremental values that are "per second", this value is used to resample them to "per minute` (60) or "per hour" (3600). It can only be used in conjunction with group=average.

        '
      required: false
      schema:
        type: number
        format: integer
        default: 0
    tqx:
      name: tqx
      in: query
      description: '[Google Visualization API](https://developers.google.com/chart/interactive/docs/dev/implementing_data_source?hl=en) formatted parameter.

        '
      required: false
      schema:
        type: string
    scopeDimensions:
      name: scope_dimensions
      in: query
      description: 'A simple pattern limiting the dimensions scope of the query. The scope controls both data and metadata response. This limits which dimensions are even considered for the query, including their visibility in the query response metadata. The simple pattern is checked against both the dimension `id` and `name`. Both positive and negative simple pattern expressions are supported.

        '
      required: false
      schema:
        type: string
        format: simple pattern
        default: '*'
    points:
      name: points
      in: query
      description: 'The number of points to be returned. If not given, or it is <= 0, or it is bigger than the points stored in the database for the given duration, all the available collected values for the given duration will be returned. For `weights` endpoints that do statistical analysis, the `points` define the detail of this analysis (the default is 500).

        '
      required: false
      schema:
        type: number
        format: integer
        default: 0
    timeoutMS:
      name: timeout
      in: query
      description: 'Specify a timeout value in milliseconds after which the Agent will abort the query and return a 503 error. A value of 0 indicates no timeout.

        '
      required: false
      schema:
        type: number
        format: integer
        default: 0
    dataTimeGroup1:
      name: group
      in: query
      description: 'Time aggregation function. If multiple collected values are to be grouped in order to return fewer points, this parameters defines the method of grouping. If the `absolute` option is set, the values are turned positive before applying this calculation.

        '
      required: false
      schema:
        type: string
        enum:
        - min
        - max
        - avg
        - average
        - median
        - stddev
        - sum
        - incremental-sum
        - ses
        - des
        - cv
        - countif
        - percentile
        - percentile25
        - percentile50
        - percentile75
        - percentile80
        - percentile90
        - percentile95
        - percentile97
        - percentile98
        - percentile99
        - trimmed-mean
        - trimmed-mean1
        - trimmed-mean2
        - trimmed-mean3
        - trimmed-mean5
        - trimmed-mean10
        - trimmed-mean15
        - trimmed-mean20
        - trimmed-mean25
        - trimmed-median
        - trimmed-median1
        - trimmed-median2
        - trimmed-median3
        - trimmed-median5
        - trimmed-median10
        - trimmed-median15
        - trimmed-median20
        - trimmed-median25
        - ema
        - extremes
        default: average
    filterNodes:
      name: nodes
      in: query
      description: 'A simple pattern matching the nodes to be queried. This only controls the data response, not the metadata. The simple pattern is checked against the nodes'' machine guid, node id, hostname. The default nodes selector is all the nodes matched by the nodes scope. Both positive and negative simple pattern expressions are supported.

        '
      required: false
      schema:
        type: string
        format: simple pattern
        default: '*'
    after:
      name: after
      in: query
      description: '`after` and `before` define the time-frame of a query. `after` can be a negative number of seconds, up to 3 years (-94608000), relative to `before`. If not set, it is usually assumed to be -600. When non-data endpoints support the `after` and `before`, they use the time-frame to limit their response for objects having data retention within the time-frame given.

        '
      required: false
      schema:
        type: integer
        default: -600
    scopeNodes:
      name: scope_nodes
      in: query
      description: 'A simple pattern limiting the nodes scope of the query. The scope controls both data and metadata response. The simple pattern is checked against the nodes'' machine guid, node id and hostname. The default nodes scope is all nodes for which this Agent has data for. Usually the nodes scope is used to slice the entire dashboard (e.g. the Global Nodes Selector at the Netdata Cloud overview dashboard). Both positive and negative simple pattern expressions are supported.

        '
      required: false
      schema:
        type: string
        format: simple pattern
        default: '*'
    filterAlerts:
      name: alerts
      in: query
      description: 'A simple pattern matching the alerts to be queried. The simple pattern is checked against the `name` of alerts and the combination of `name:status`, when status is one of `CLEAR`, `WARNING`, `CRITICAL`, `REMOVED`, `UNDEFINED`, `UNINITIALIZED`, of all the alerts of all the eligible instances (as filtered by all the above). A negative simple pattern will exclude the instances having the labels matched.

        '
      required: false
      schema:
        type: string
        format: simple pattern
        default: '*'
    dataTimeResampling1:
      name: gtime
      in: query
      description: 'The grouping number of seconds. This is used in conjunction with group=average to change the units of metrics (ie when the data is per-second, setting gtime=60 will turn them to per-minute).

        '
      required: false
      allowEmptyValue: false
      schema:
        type: number
        format: integer
        default: 0
    before:
      name: before
      in: query
      description: '`after` and `before` define the time-frame of a query. `before` can be a negative number of seconds, up to 3 years (-94608000), relative to current clock. If not set, it is assumed to be the current clock time. When `before` is positive, it is assumed to be a unix epoch timestamp. When non-data endpoints support the `after` and `before`, they use the time-frame to limit their response for objects having data retention within the time-frame given.

        '
      required: false
      schema:
        type: integer
        default: 0
    callback:
      name: callback
      in: query
      description: 'For JSONP responses, the callback function name.

        '
      required: false
      schema:
        type: string
    filterDimensions:
      name: dimensions
      in: query
      description: 'A simple patterns matching the dimensions to be queried. The simple pattern is checked against and `id` and the `name` of the dimensions of the eligible instances (as filtered by all the above). Both positive and negative simple pattern expressions are supported.

        '
      required: false
      schema:
        type: string
        format: simple pattern
        default: '*'
    filterInstances:
      name: instances
      in: query
      description: 'A simple pattern matching the instances to be queried. The simple pattern is checked against the instance `id`, the instance `name`, the fully qualified name of the instance `id` and `name`, like `instance@machine_guid`, where `instance` is either its `id` or `name`. Both positive and negative simple pattern expressions are supported.

        '
      required: false
      schema:
        type: string
        format: simple pattern
        default: '*'
  schemas:
    data_csvjsonarray:
      description: 'The first inner array contains strings showing the labels of each column, each subsequent array contains the values for each point in time.

        '
      type: array
      items:
        type: array
        items: {}
    data_array:
      description: Data response in `array` format.
      type: array
      items:
        type: number
    data_json2:
      type: object
      properties:
        labels:
          description: 'The IDs of the dimensions returned. The first is always `time`.

            '
          type: array
          items:
            type: string
        point:
          description: 'The format of each point returned.

            '
          type: object
          properties:
            value:
              description: 'The index of the value in each point.

                '
              type: integer
            arp:
              description: 'The index of the anomaly rate in each point.

                '
              type: integer
            pa:
              description: 'The index of the point annotations in each point.

                This is a bitmap. `EMPTY = 1`, `RESET = 2`, `PARTIAL = 4`.

                `EMPTY` means the point has no value.

                `RESET` means that at least one metric aggregated experienced an overflow (a counter that wrapped).

                `PARTIAL` means that this point should have more metrics aggregated into it, but not all metrics had data.

                '
              type: integer
            count:
              description: 'The number of metrics aggregated into this point.

                This exists only when the option `raw` is given to the query and the final aggregation point is NOT `percentage`.

                '
              type: integer
            hidden:
              description: 'The sum of the non-selected dimensions aggregated for this group item point.

                This exists only when the option `raw` is given to the query and the final aggregation method is `percentage`.

                '
        data:
          type: array
          items:
            anyOf:
            - type: integer
            - type: array
              items:
                type: number
    jsonwrap2:
      description: 'Data response with `format=json2`

        '
      type: object
      properties:
        api:
          $ref: '#/components/schemas/api'
        agents:
          $ref: '#/components/schemas/agents'
        versions:
          $ref: '#/components/schemas/versions'
        summary:
          description: 'Summarized information about nodes, contexts, instances, labels, alerts, and dimensions. The items returned are determined by the scope of the query only, however the statistical data in them are influenced by the filters of the query. Using this information the dashboard allows users to slice and dice the data by filtering and grouping.

            '
          type: object
          properties:
            nodes:
              type: array
              items:
                $ref: '#/components/schemas/nodeWithDataStatistics'
            contexts:
              type: array
              items:
                type: object
                description: 'An object describing a unique context. `is` stands for instances, `ds` for dimensions, `al` for alerts, `sts` for statistics.

                  '
                properties:
                  id:
                    description: the context id.
                    type: string
                  is:
                    $ref: '#/components/schemas/jsonwrap2_items_count'
                  ds:
                    $ref: '#/components/schemas/jsonwrap2_items_count'
                  al:
                    $ref: '#/components/schemas/jsonwrap2_alerts_count'
                  sts:
                    oneOf:
                    - $ref: '#/components/schemas/jsonwrap2_sts'
                    - $ref: '#/components/schemas/jsonwrap2_sts_raw'
            instances:
              type: array
              items:
                type: object
                description: 'An object describing an instance. `ds` stands for dimensions, `al` for alerts, `sts` for statistics.

                  '
                properties:
                  id:
                    description: the id of the instance.
                    type: string
                  nm:
                    description: the name of the instance (may be absent when it is the same with the id)
                    type: string
                  ni:
                    description: the node index id this instance belongs to. The UI uses this to compone the fully qualified name of the instance, using the node hostname to present it to users and its machine guid to add it to filters.
                  ds:
                    $ref: '#/components/schemas/jsonwrap2_items_count'
                  al:
                    $ref: '#/components/schemas/jsonwrap2_alerts_count'
                  sts:
                    oneOf:
                    - $ref: '#/components/schemas/jsonwrap2_sts'
                    - $ref: '#/components/schemas/jsonwrap2_sts_raw'
            dimensions:
              type: array
              items:
                type: object
                description: 'An object describing a unique dimension. `ds` stands for `dimensions`, `sts` for statistics.

                  '
                properties:
                  id:
                    description: the id of the dimension.
                    type: string
                  nm:
                    description: the name of the dimension (may be absent when it is the same with the id)
                    type: string
                  ds:
                    $ref: '#/components/schemas/jsonwrap2_items_count'
                  sts:
                    oneOf:
                    - $ref: '#/components/schemas/jsonwrap2_sts'
                    - $ref: '#/components/schemas/jsonwrap2_sts_raw'
            labels:
              type: array
              items:
                type: object
                description: 'An object describing a label key. `ds` stands for `dimensions`, `sts` for statistics.

                  '
                properties:
                  id:
                    description: the key of the label.
                    type: string
                  ds:
                    $ref: '#/components/schemas/jsonwrap2_items_count'
                  sts:
                    oneOf:
                    - $ref: '#/components/schemas/jsonwrap2_sts'
                    - $ref: '#/components/schemas/jsonwrap2_sts_raw'
                  vl:
                    description: 'An array of values for this key.

                      '
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: The value string
                          type: string
                        ds:
                          $ref: '#/components/schemas/jsonwrap2_items_count'
                        sts:
                          oneOf:
                          - $ref: '#/components/schemas/jsonwrap2_sts'
                          - $ref: '#/components/schemas/jsonwrap2_sts_raw'
            alerts:
              description: 'An array of all the unique alerts running, grouped by alert name (`nm` is available here)

                '
              type: array
              items:
                $ref: '#/components/schemas/jsonwrap2_alerts_count'
        totals:
          type: object
          properties:
            nodes:
              $ref: '#/components/schemas/jsonwrap2_items_count'
            contexts:
              $ref: '#/components/schemas/jsonwrap2_items_count'
            instances:
              $ref: '#/components/schemas/jsonwrap2_items_count'
            dimensions:
              $ref: '#/components/schemas/jsonwrap2_items_count'
            label_keys:
              $ref: '#/components/schemas/jsonwrap2_items_count'
            label_key_values:
              $ref: '#/components/schemas/jsonwrap2_items_count'
        functions:
          type: array
          items:
            type: string
        db:
          type: object
          properties:
            tiers:
              description: 'The number of tiers this server is using.

                '
              type: integer
            update_every:
              description: 'The minimum update every, in seconds, for all tiers and all metrics aggregated into this query.

                '
              type: integer
            first_entry:
              description: 'The minimum unix epoch timestamp of the retention across all tiers for all metrics aggregated into this query.

                '
              type: integer
            last_entry:
              description: 'The maximum unix epoch timestamp of the retention across all tier for all metrics aggregated into this query.

                '
              type: integer
            per_tier:
              description: 'An array with information for each of the tiers available, related to this query.

                '
              type: array
              items:
                type: object
                properties:
                  tier:
                    description: 'The tier number of this tier, starting at 0.

                      '
                    type: integer
                  queries:
                    description: 'The number of queries executed on this tier. Usually one query per metric is made, but the query may cross multiple tier, in which case more than one query per metric is made.

                      '
                    type: integer
                  points:
                    description: 'The number of points read from this tier.

                      '
                    type: integer
                  update_every:
                    description: 'The minimum resolution of all metrics queried on this tier.

                      '
                    type: integer
                  first_entry:
                    description: 'The minimum unix epoch timestamp available across all metrics that used this tier. This reflects the oldest timestamp of the tier''s retention.

                      '
                    type: integer
                  last_entry:
                    description: 'The maximum unix epoch timestamp available across all metrics that used this tier. This reflects the newest timestamp of the tier''s retention.

                      '
            units:
              description: 'The units of the database data

                '
              oneOf:
              - type: string
              - type: array
                items:
                  type: string
            dimensions:
              type: object
              properties:
                ids:
                  description: 'An array with the dimension ids that uniquely identify the dimensions for this query. It is the same with `view.dimensions.ids`.

                    '
                  type: array
                  items:
                    type: string
                units:
                  description: 'An array with the units each dimension has in the database (independent of group-by aggregation that may override the units).

                    '
                  type: array
                  items:
                    type: string
                sts:
                  description: 'Statistics about the data collection points used for each dimension.

                    '
                  oneOf:
                  - $ref: '#/components/schemas/jsonwrap2_sts'
                  - $ref: '#/components/schemas/jsonwrap2_sts_raw'
        view:
          type: object
          properties:
            title:
              description: 'The title the chart should have.

                '
              type: string
            format:
              description: 'The format the `result` top level member has. Available on when `debug` flag is set.

                '
              type: string
            options:
              description: 'An array presenting all the options given to the query. Available on when `debug` flag is set.

                '
              type: array
              items:
                type: string
            time_group:
              description: 'The same as the parameter `time_group`. Available on when `debug` flag is set.

                '
              type: string
            after:
              description: 'The oldest unix epoch timestamp of the data returned in the `result`.

                '
              type: integer
            before:
              description: 'The newest unix epoch timestamp of the data returned in the `result`.

                '
              type: integer
            partial_data_trimming:
              description: 'Information related to trimming of the last few points of the `result`, that was required to remove (increasing) partial data.

                Trimming is disabled when the `raw` option is given to the query.

                This object is available only when the `debug` flag is set.

                '
              type: object
              properties:
                max_update_every:
                  description: 'The maximum `update_every` for all metrics aggregated into the query.

                    Trimming is by default enabled at `view.before - max_update_every`, but only when `view.before >= now - max_update_every`.

                    '
                  type: integer
                expected_after:
                  description: 'The timestamp at which trimming can be enabled.

                    If this timestamp is greater or equal to `view.before`, there is no trimming.

                    '
                  type: integer
                trimmed_after:
                  description: 'The timestamp at which trimming has been applied.

                    If this timestamp is greater or equal to `view.before`, there is no trimming.

                    '
            points:
              description: 'The number of points in `result`. Available only when `raw` is given.

                '
              type: integer
            units:
              description: 'The units of the query.

                '
              oneOf:
              - type: string
              - type: array
                items:
                  type: string
            chart_type:
              description: 'The default chart type of the query.

                '
              type: string
              enum:
              - line
              - area
              - stacked
            dimensions:
              description: 'Detailed information about the chart dimensions included in the `result`.

                '
              type: object
              properties:
                grouped_by:
                  description: 'An array with the order of the groupings performed.

                    '
                  type: array
                  items:
                    type: string
                    enum:
                    - selected
                    - dimension
                    - instance
                    - node
                    - context
                    - units
                    - label:key1
                    - label:key2
                    - label:keyN
                ids:
                  description: 'An array with the dimension ids that uniquely identify the dimensions for this query.

                    '
                  type: array
                  items:
                    type: string
                names:
                  description: 'An array with the dimension names to be presented to users. Names may be overlapping, but IDs are not.

                    '
                  type: array
                  items:
                    type: string
                priorities:
                  description: 'An array with the relative priorities of the dimensions.

                    Numbers may not be sequential or unique. The application is expected to order by this and then by name.

                    '
                  type: array
                  items:
                    type: integer
                aggregated:
                  description: 'An array with the number of source metrics aggregated into each dimension.

                    '
                  type: array
                  items:
                    type: integer
                units:
                  description: 'An array with the units each dimension has.

                    '
                  type: array
                  items:
                    type: string
                sts:
                  description: 'Statistics about the view points for each dimension.

                    '
                  oneOf:
                  - $ref: '#/components/schemas/jsonwrap2_sts'
                  - $ref: '#/components/schemas/jsonwrap2_sts_raw'
                labels:
                  description: 'The labels associated with each dimension in the query.

                    This object is only available when the `group-by-labels` option is given to the query.

                    '
                  type: object
                  properties:
                    label_key1:
                      description: 'An array having one entry for each of the dimensions of the query.

                        '
                      type: array
                      items:
                        description: 'An array having one entry for each of the values this label key has for the given dimension.

                          '
                        type: array
                        items:
                          type: string
            min:
              description: 'The minimum value of all points included in the `result`.

                '
              type: number
            max:
              description: 'The maximum value of all points included in the `result`.

                '
              type: number
        result:
          $ref: '#/components/schemas/data_json_formats2'
        timings:
          type: object
    jsonwrap2_sts_raw:
      description: 'Statistical values when `raw` option is given.

        '
      type: object
      properties:
        min:
          description: The minimum value of all metrics aggregated
          type: number
        max:
          description: The maximum value of all metrics aggregated
          type: number
        sum:
          description: The sum value of all metrics aggregated
          type: number
        ars:
          description: The sum anomaly rate of all metrics aggregated
          type: number
        vol:
          description: The volume of all the metrics aggregated
          type: number
        cnt:
          description: The count of all metrics aggregated
          type: integer
    agents:
      description: 'An array of Agent definitions consulted to compose this response.

        '
      type: array
      items:
        type: object
        properties:
          mg:
            description: The Agent machine GUID.
            type: string
            format: uuid
          nd:
            description: The Agent cloud node ID.
            type: string
            format: uuid
          nm:
            description: The Agent hostname.
            type: string
          ai:
            description: The Agent index ID for this Agent, in this response.
            type: integer
          now:
            description: The current unix epoch timestamp of this Agent.
            type: integer
    data_json_formats1:
      description: 'Depending on the `format` given to a data query, any of the following may be returned.

        '
      oneOf:
      - $ref: '#/components/schemas/data_json'
      - $ref: '#/components/schemas/data_datatable'
      - $ref: '#/components/schemas/data_csvjsonarray'
      - $ref: '#/components/schemas/data_array'
      - $ref: '#/components/schemas/data_txt'
    nodeWithDataStatistics:
      allOf:
      - $ref: '#/components/schemas/nodeBasic'
      - type: object
        description: '`is` stands for instances, `ds` for dimensions, `al` for alerts, `sts` for statistics.

          '
        properties:
          is:
            $ref: '#/components/schemas/jsonwrap2_items_count'
          ds:
            $ref: '#/components/schemas/jsonwrap2_items_count'
          al:
            $ref: '#/components/schemas/jsonwrap2_alerts_count'
          sts:
            oneOf:
            - $ref: '#/components/schemas/jsonwrap2_sts'
            - $ref: '#/components/schemas/jsonwrap2_sts_raw'
    chart_variables:
      type: object
      properties:
        varname1:
          type: number
          format: float
        varname2:
          type: number
          format: float
    data_txt:
      description: 'Data response in `csv`, `tsv`, `tsv-excel`, `ssv`, `ssv-comma`, `markdown`, `html` formats.

        '
      type: string
    nodeBasic:
      type: object
      description: Basic information about a node.
      required:
      - ni
      - st
      properties:
        mg:
          description: The machine guid of the node. May not be available if the request is served by the Netdata Cloud.
          type: string
          format: UUID
        nd:
          description: The node id of the node. May not be available if the node is not registered to Netdata Cloud.
          type: string
          format: UUID
        nm:
          description: The name (hostname) of the node.
          type: string
        ni:
          description: The node index id, a number that uniquely identifies this node for this query.
          type: integer
        st:
          description: Status information about the communication with this node.
          type: object
          properties:
            ai:
              description: The Agent index id that has been contacted for this node.
              type: integer
            code:
              description: The HTTP response code of the response for this node. When working directly with an Agent, this is always 200. If the `code` is missing, it should be assumed to be 200.
              type: integer
            msg:
              description: A human readable description of the error, if any. If `msg` is missing, or is the empty string `""` or is `null`, there is no description associated with the current status.
              type: string
            ms:
              description: The time in milliseconds this node took to respond, or if the local Agent responded for this node, the time it needed to execute the query. If `ms` is missing, the time that was required to query this node is unknown.
              type: number
    data_json:
      description: Data response in `json` format.
      type: object
      properties:
        labels:
          description: The dimensions retrieved from the chart.
          type: array
          items:
            type: string
        data:
          description: 'The data requested, one element per sample with each element containing the values of the dimensions described in the labels value.

            '
          type: array
          items:
            type: number
    data_json_formats2:
      description: 'Depending on the `format` given to a data query, any of the following may be returned.

        '
      oneOf:
      - $ref: '#/components/schemas/data_json2'
      - $ref: '#/components/schemas/data_json_formats1'
    data_datatable:
      description: 'Data response in datatable / datasource formats (suitable for Google Charts).

        '
      type: object
      properties:
        cols:
          type: array
          items:
            type: object
            properties:
              id:
                description: Always empty - for future use.
              label:
                description: The dimension returned from the chart.
              pattern:
                description: Always empty - for future use.
              type:
                description: The type of data in the column / chart-dimension.
              p:
                description: Contains any annotations for the column.
            required:
            - id
            - label
            - pattern
            - type
        rows:
          type: array
          items:
            type: object
            properties:
              c:
                type: array
                items:
                  properties:
                    v:
                      description: 'Each value in the row is represented by an object named `c` with five v fields: data, null, null, 0, the value. This format is fixed by the Google Charts API."

                        '
    api:
      description: The version of the API used.
      type: integer
    jsonwrap2_sts:
      description: 'Statistical values

        '
      type: object
      properties:
        min:
          description: The minimum value of all metrics aggregated
          type: number
        max:
          description: The maximum value of all metrics aggregated
          type: number
        avg:
          description: The average value of all metrics aggregated
          type: number
        arp:
          description: The average anomaly rate of all metrics aggregated
          type: number
        con:
          description: The contribution percentage of all the metrics aggregated
          type: number
    jsonwrap2_items_count:
      description: 'Depending on the placement of this object, `items` may be `nodes`, `contexts`, `instances`, `dimensions`, `label keys`, `label key-value pairs`. Furthermore, if the whole object is missing it should be assumed that all its members are zero.

        '
      type: object
      properties:
        sl:
          description: The number of items `selected` to query. If absent it is zero.
          type: integer
        ex:
          description: The number of items `excluded` from querying. If absent it is zero.
          type: integer
        qr:
          description: The number of items (out of `selected`) the query successfully `queried`.  If absent it is zero.
          type: integer
        fl:
          description: The number of items (from `selected`) that `failed` to be queried.  If absent it is zero.
          type: integer
    jsonwrap1:
      type: object
      discriminator:
        propertyName: format
      description: Response will contain the appropriate subtype, e.g. data_json depending on the requested format.
      properties:
        api:
          type: number
          description: The API version this conforms to.
        id:
          type: string
          description: The unique id of the chart.
        name:
          type: string
          description: The name of the chart.
        update_every:
          type: number
          description: The update frequency of this chart, in seconds. One value every this amount of time is kept in the round robin database (independently of the current view).
        view_update_every:
          type: number
          description: The current view appropriate update frequency of this chart, in seconds. There is no point to request chart refreshes, using the same settings, more frequently than this.
        first_entry:
          type: number
          description: The UNIX timestamp of the first entry (the oldest) in the round robin database (independently of the current view).
        last_entry:
          type: number
          description: The UNIX timestamp of the latest entry in the round robin database (independently of the current view).
        after:
          type: number
          description: The UNIX timestamp of the first entry (the oldest) returned in this response.
        before:
          type: number
          description: The UNIX timestamp of the latest entry returned in this response.
        min:
          type: number
          description: The minimum value returned in the current view. This can be used to size the y-series of the chart.
        max:
          type: number
          description: The maximum value returned in the current view. This can be used to size the y-series of the chart.
        dimension_names:
          description: The dimension names of the chart as returned in the current view.
          type: array
          items:
            type: string
        dimension_ids:
          description: The dimension IDs of the chart as returned in the current view.
          type: array
          items:
            type: string
        latest_values:
          description: The latest values collected for the chart (independently of the current view).
          type: array
          items:
            type: string
        view_latest_values:
          description: The latest values returned with this response.
          type: array
          items:
            type: string
        dimensions:
          type: number
          description: The number of dimensions returned.
        points:
          type: number
          description: The number of rows / points returned.
        format:
          type: string
          description: The format of the result returned.
        chart_variables:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/chart_variables'
        result:
          $ref: '#/components/schemas/data_json_formats1'
    versions:
      description: 'Hashes that allow the caller to detect important database changes of Netdata Agents.

        '
      type: object
      properties:
        nodes_hard_hash:
          description: 'An auto-increment value that reflects the number of changes to the number of nodes maintained by the server. Everytime a node is added or removed, this number gets incremented.

            '
          type: integer
        contexts_hard_hash:
          description: 'An auto-increment value that reflects the number of changes to the number of contexts maintained by the server. Everytime a context is added or removed, this number gets incremented.

            '
          type: integer
        contexts_soft_hash:
          description: 'An auto-increment value that reflects the number of changes to the queue that sends contexts updates to Netdata Cloud. Everytime the contents of a context are updated, this number gets incremented.

            '
          type: integer
        alerts_hard_hash:
          description: 'An auto-increment value that reflects the number of changes to the number of alerts. Everytime an alert is added or removed, this number gets incremented.

            '
          type: integer
        alerts_soft_hash:
          description: 'An auto-increment value that reflects the number of alerts transitions. Everytime an alert transitions to a new state, this number gets incremented.

            '
          type: integer
    jsonwrap2_alerts_count:
      description: 'Counters about alert statuses. If this object is missing, it is assumed that all its members are zero.

        '
      type: object
      properties:
        nm:
          description: The name of the alert. Can be absent when the counters refer to more than one alert instances.
          type: string
        cl:
          description: The number of CLEAR alerts. If absent, it is zero.
          type: integer
        wr:
          description: The number of WARNING alerts. If absent, it is zero.
          type: integer
        cr:
          description: The number of CRITICAL alerts. If absent, it is zero.
          type: integer
        ot:
          description: 'The number of alerts that are not CLEAR, WARNING, CRITICAL (so, they are "other").  If absent, it is zero.

            '
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token authentication for API access when bearer protection is enabled.


        **How to obtain a token:**

        1. Token must be obtained via `/api/v3/bearer_get_token` endpoint

        2. This endpoint is ACLK-only (requires Netdata Cloud access)

        3. Token includes role-based access control and expiration time


        **How to use:**

        ```

        Authorization: Bearer <token>

        ```


        **When required:**

        - When bearer protection is enabled on the agent (via `/api/v3/bearer_protection`)

        - Applies to all APIs with `HTTP_ACCESS_ANONYMOUS_DATA` permission

        - Does not apply to APIs with `HTTP_ACL_NOCHECK` (always public)

        - Does not apply to ACLK-only APIs (use cloud authentication)


        **Token expiration:**

        - Tokens are time-limited and must be renewed periodically

        - Expired tokens return HTTP 401 Unauthorized

        '
    aclkAuth:
      type: http
      scheme: bearer
      description: 'ACLK-only authentication - these APIs are ONLY accessible via Netdata Cloud (ACLK).


        **Access Requirements:**

        - User must be authenticated via Netdata Cloud (`SIGNED_ID`)

        - User and agent must be in the same Netdata Cloud space (`SAME_SPACE`)

        - Additional role-based permissions may apply per endpoint


        **NOT accessible via:**

        - Direct HTTP/HTTPS to agent (even with bearer token)

        - Local dashboard

        - External integrations


        **Available only through:**

        - Netdata Cloud web interface

        - Netdata Cloud API (ACLK tunnel)


        **Development mode:**

        - Can be made available in dev mode with `ACL_DEV_OPEN_ACCESS` flag

        '
    ipAcl:
      type: apiKey
      in: header
      name: X-Forwarded-For
      description: "IP-based Access Control List restrictions (informational only).\n\n**Configuration:**\nAPIs are subject to IP-based ACL restrictions configured in `netdata.conf`:\n\n```conf\n[web]\n    allow dashboard from = *\n    allow badges from = *\n    allow management from = localhost\n```\n\n**ACL Categories:**\n- `allow dashboard from` - Controls access to metrics, alerts, nodes, functions, config APIs\n- `allow badges from` - Controls access to badge generation APIs\n- `allow management from` - Controls access to management APIs\n\n**Default behavior:**\n- Most APIs allow access from any IP by default\n- Management APIs restrict to localhost by default\n- Can be customized per deployment\n\n**Note:** This is not a standard authentication mechanism but rather IP filtering.\nAPIs with `HTTP_ACL_NOCHECK` bypass all IP restrictions.\n"
