openapi: 3.2.0
info:
  title: Netdata Cloud Alerts API
  description: Netdata Cloud API Documentation
  version: 0.0.1
  contact:
    name: Support
    url: https://www.netdata.cloud/support
servers:
- url: https://app.netdata.cloud
  description: Netdata Cloud
security:
- BearerAuth: []
tags:
- name: alerts
paths:
  /api/v2/spaces/{spaceID}/notifications/silencing/rrule/evaluate:
    post:
      summary: Evaluate an RRule and return occurrences
      description: 'Evaluates an RRule string and returns the next occurrences within the specified time window.

        This endpoint allows users to verify their rrule configuration for silencing rules.'
      operationId: evaluate-rrule
      tags:
      - alerts
      parameters:
      - name: spaceID
        in: path
        required: true
        description: The unique identifier of the requested space.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.evaluateRRuleReq'
      responses:
        '200':
          description: The evaluated RRule occurrences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.evaluateRRuleRes'
        '400':
          description: ' `\"errorCode\": \"ErrBadRequest\"`: when the request payload is invalid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '401':
          description: ' `\"errorCode\": \"ErrUnauthorized\"`: when the provided user token/cookie cannot be matched with an account'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '403':
          description: ' `\"errorCode\": \"ErrForbidden\"`: when caller has no permissions to access the space or evaluate silencing rrules'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '413':
          description: ' `\"errorCode\": \"ErrRequestEntityTooLarge\"`: when the rrule evaluation exceeds the allowed processing time, indicating a too wide time window'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '422':
          description: ' `\"errorCode\": \"ErrUnprocessableEntity\"`: when invalid spaceID is provided'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '500':
          description: ' `\"errorCode\": \"ErrInternal\"`: when some Internal Server Error has occurred'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
  /api/v2/spaces/{spaceID}/notifications/silencing/rule:
    post:
      summary: Create a new Alert Notification Silencing Rule
      description: Creates an Alert Notification Silencing Rule according to the specifications provided
      operationId: create-silencing-rule
      tags:
      - alerts
      parameters:
      - name: spaceID
        in: path
        required: true
        description: The unique identifier of the requested space.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.silencingRule'
      responses:
        '200':
          description: The newly created Silencing Rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.silencingRule'
        '400':
          description: ' `"errorCode": "ErrBadRequest"`: when the Silencing Rule request payload is invalid. Per-field validation errors are returned'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '401':
          description: ' `"errorCode": "ErrUnauthorized"`: when the provided user token/cookie cannot be matched with an account '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '403':
          description: ' `"errorCode": "ErrForbidden"`: when caller is not authorized to access the space or create an Alert Notification Silencing Rule'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '422':
          description: ' `"errorCode": "ErrUnprocessableEntity"`: when invalid spaceID is provided. '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '500':
          description: ' `"errorCode": "ErrInternal"`: when some Internal Server Error has occurred '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
  /api/v2/spaces/{spaceID}/notifications/silencing/rule/ruleID:
    put:
      summary: Update an existing Alert Notification Silencing Rule
      description: Updates an existing Alert Notification Silencing Rule according to the specifications provided
      operationId: update-silencing-rule
      tags:
      - alerts
      parameters:
      - name: spaceID
        in: path
        required: true
        description: The unique identifier of the requested space.
        schema:
          type: string
          format: uuid
      - name: ruleID
        in: path
        required: true
        description: The unique identifier of the Silencing Rule to be updated.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.silencingRule'
      responses:
        '200':
          description: The newly updated Silencing Rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.silencingRule'
        '400':
          description: ' `"errorCode": "ErrBadRequest"`: when the Silencing Rule ID or request payload is invalid. Per-field validation errors are returned in case of invalid Silencing Rule definition'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '401':
          description: ' `"errorCode": "ErrUnauthorized"`: when the provided user token/cookie cannot be matched with an account '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '403':
          description: ' `"errorCode": "ErrForbidden"`: when caller is not authorized to access the space or update an Alert Notification Silencing Rule'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '404':
          description: ' `"errorCode": "ErrNotFound"`: when the Silencing Rule to be updated was not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '422':
          description: ' `"errorCode": "ErrUnprocessableEntity"`: when invalid spaceID is provided. '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '500':
          description: ' `"errorCode": "ErrInternal"`: when some Internal Server Error has occurred '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
  /api/v2/spaces/{spaceID}/notifications/silencing/rules:
    get:
      summary: Get all the Alert Notification Silencing Rules
      description: Retrieve the Alert Notification Silencing Rules of a given space
      operationId: get-silencing-rules
      tags:
      - alerts
      parameters:
      - name: spaceID
        in: path
        required: true
        description: The unique identifier of the requested space.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The available Silencing Rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.silencingRule'
        '401':
          description: ' `"errorCode": "ErrUnauthorized"`: when the provided user token/cookie cannot be matched with an account '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '403':
          description: ' `"errorCode": "ErrForbidden"`: when caller is not authorized to access the space or retrieve Alert Notification Silencing Rules'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '422':
          description: ' `"errorCode": "ErrUnprocessableEntity"`: when invalid spaceID is provided. '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '500':
          description: ' `"errorCode": "ErrInternal"`: when some Internal Server Error has occurred '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
  /api/v2/spaces/{spaceID}/notifications/silencing/rules/delete:
    post:
      summary: Delete Alert Notification Silencing Rules
      description: Deletes the targeted Alert Notification Silencing Rules of a given space
      operationId: delete-silencing-rules
      tags:
      - alerts
      parameters:
      - name: spaceID
        in: path
        required: true
        description: The unique identifier of the requested space.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: OK
        '400':
          description: ' `"errorCode": "ErrBadRequest"`: at least one of the Silencing Rule IDs in the request payload is invalid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '401':
          description: ' `"errorCode": "ErrUnauthorized"`: when the provided user token/cookie cannot be matched with an account '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '403':
          description: ' `"errorCode": "ErrForbidden"`: when caller is not authorized to access the space or delete Alert Notification Silencing Rules'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '422':
          description: ' `"errorCode": "ErrUnprocessableEntity"`: when invalid spaceID is provided. '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '500':
          description: ' `"errorCode": "ErrInternal"`: when some Internal Server Error has occurred '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
  /api/v2/spaces/{spaceID}/rooms/{roomID}/alerts:misconfigured:
    post:
      summary: Get misconfigured alerts for a room
      description: Retrieve alerts that are firing too often, stuck in a raised state, silenced for too long, or never dispatched for a given room
      operationId: get-room-alerts-misconfigured
      tags:
      - alerts
      parameters:
      - name: spaceID
        in: path
        required: true
        description: The unique identifier of the space.
        schema:
          type: string
          format: uuid
      - name: roomID
        in: path
        required: true
        description: The unique identifier of the room.
        schema:
          type: string
          format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.misconfiguredAlertsRequest'
      responses:
        '200':
          description: The misconfigured alerts results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.misconfiguredAlertsResponse'
        '400':
          description: ' `\"errorCode\": \"ErrBadRequest\"`: when the request payload is invalid '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '401':
          description: ' `\"errorCode\": \"ErrUnauthorized\"`: when the provided user token/cookie cannot be matched with an account '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '403':
          description: ' `\"errorCode\": \"ErrForbidden\"`: when caller is not authorized to access the space or room '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '422':
          description: ' `\"errorCode\": \"ErrUnprocessableEntity\"`: when invalid spaceID or roomID is provided '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
        '500':
          description: ' `\"errorCode\": \"ErrInternal\"`: when some Internal Server Error has occurred '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.Error'
components:
  schemas:
    github_com_netdata_cloud-alarm-processor-service_api.silencedLongThresholds:
      type: object
      properties:
        count:
          description: Minimum silenced dispatch count to flag an alert (default 20, max 5000)
          type: integer
          example: 20
        window_seconds:
          description: Lookback window in seconds for silenced-long detection (default 2592000, max 7776000)
          type: integer
          example: 2592000
    github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.evaluateRRuleReq:
      type: object
      properties:
        lasts_until:
          description: The end time for the daily active window (optional)
          type: string
          example: '2025-05-20T01:49:01.803Z'
        limit:
          description: 'Maximum number of occurrences to return (optional, default: 10, max: 100)'
          type: integer
          example: 10
        rrule:
          description: The RRule string to evaluate (RFC 5545 format)
          type: string
          example: RRULE:FREQ=DAILY
        starts_at:
          description: The start time for the rrule (DTSTART)
          type: string
          example: '2025-05-19T13:49:01.803Z'
        timezone:
          description: 'IANA timezone the recurrence is anchored to (optional, default: UTC). The

            rrule fires at the intended wall-clock time in this zone across DST transitions'
          type: string
          example: America/New_York
        window:
          description: The evaluation time window
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.evaluateRRuleWindowReq'
    github_com_netdata_cloud-alarm-processor-service_api.silencedLongResponse:
      type: object
      properties:
        items:
          description: Individual alerts that exceeded the silenced dispatch threshold
          type: array
          items:
            $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.silencedLongItem'
        totals:
          description: Aggregated counts across all silenced-long items
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.silencedLongTotals'
    github_com_netdata_cloud-alarm-processor-service_api.dispatchNoneAlert:
      type: object
      properties:
        chart:
          description: Chart the alert belongs to
          type: string
          example: disk_space._
        context:
          description: Chart context
          type: string
          example: disk.space
        name:
          description: Alert name
          type: string
          example: disk_space_usage
    github_com_netdata_cloud-alarm-processor-service_api.firingOftenAlert:
      type: object
      properties:
        chart:
          description: Chart the alert belongs to
          type: string
          example: system.cpu
        context:
          description: Chart context
          type: string
          example: system.cpu
        name:
          description: Alert name
          type: string
          example: 10min_cpu_usage
    github_com_netdata_cloud-alarm-processor-service_api.dispatchNoneItem:
      type: object
      properties:
        alert:
          description: Alert identity
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.dispatchNoneAlert'
        count:
          description: Number of dispatch events where no notification was sent within the lookback window
          type: integer
          example: 42
        first:
          description: Timestamp of the first non-dispatched event, in unix milliseconds
          type: integer
          example: 1710892800000
        last:
          description: Timestamp of the last non-dispatched event, in unix milliseconds
          type: integer
          example: 1711497600000
        node:
          description: Node where this alert is not dispatched
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.MisconfiguredNode'
    github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedAlert:
      type: object
      properties:
        chart:
          description: Chart the alert belongs to
          type: string
          example: system.cpu
        context:
          description: Chart context
          type: string
          example: system.cpu
        duration_seconds:
          description: How long the alert has been raised in seconds
          type: integer
          example: 86400
        name:
          description: Alert name
          type: string
          example: 10min_cpu_usage
        status:
          description: Current alert status
          type: string
          enum:
          - critical
          - warning
          example: critical
        triggered_at:
          description: When the alert was triggered, in unix milliseconds
          type: integer
          example: 1710892800000
        units:
          description: Unit of the alert value (e.g. "%", "MB/s"); empty when the alert config has no units
          type: string
          example: '%'
        value:
          description: Current alert value
          type: number
          example: 95.5
    github_com_netdata_cloud-alarm-processor-service_api.silencedLongTotals:
      type: object
      properties:
        count:
          description: Sum of silenced dispatch counts across all flagged alerts
          type: integer
          example: 150
        items:
          description: Number of alerts flagged as silenced for too long
          type: integer
          example: 3
    github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.evaluateRRuleWindowReq:
      type: object
      properties:
        end:
          description: End of the evaluation time window
          type: string
          example: '2025-06-19T00:00:00Z'
        start:
          description: Start of the evaluation time window
          type: string
          example: '2025-05-19T00:00:00Z'
    github_com_netdata_cloud-alarm-processor-service_api.dispatchNoneThresholds:
      type: object
      properties:
        count:
          description: Minimum non-dispatched event count to flag an alert (default 10, max 5000)
          type: integer
          example: 10
        window_seconds:
          description: Lookback window in seconds for dispatch-none detection (default 2592000, max 7776000)
          type: integer
          example: 2592000
    github_com_netdata_cloud-alarm-processor-service_api.silencedLongAlert:
      type: object
      properties:
        chart:
          description: Chart the alert belongs to
          type: string
          example: disk_space._
        context:
          description: Chart context
          type: string
          example: disk.space
        name:
          description: Alert name
          type: string
          example: disk_space_usage
    github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.occurrence:
      type: object
      properties:
        end:
          description: The end time of the occurrence (only present if lasts_until was provided)
          type: string
          example: '2025-05-20T01:49:01.803Z'
        start:
          description: The start time of the occurrence
          type: string
          example: '2025-05-19T13:49:01.803Z'
    github_com_netdata_cloud-alarm-processor-service_api.dispatchNoneTotals:
      type: object
      properties:
        count:
          description: Sum of non-dispatched event counts across all flagged alerts
          type: integer
          example: 150
        items:
          description: Number of alerts flagged as never dispatched
          type: integer
          example: 3
    github_com_netdata_cloud-alarm-processor-service_api.misconfiguredAlertsRequest:
      type: object
      properties:
        categories:
          description: Filter results to specific misconfiguration categories; empty means all categories
          type: array
          items:
            type: string
            enum:
            - firing_often
            - stuck_raised
            - silenced_long
            - dispatch_none
          example:
          - firing_often
          - stuck_raised
          - silenced_long
          - dispatch_none
        thresholds:
          description: Override default detection thresholds per category
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.misconfiguredAlertsThresholds'
    github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedStatusTotal:
      type: object
      properties:
        duration_seconds:
          description: Sum of raised durations in seconds for this status
          type: integer
          example: 172800
        items:
          description: Number of alerts with this status
          type: integer
          example: 2
    github_com_netdata_cloud-alarm-processor-service_api.firingOftenItem:
      type: object
      properties:
        alert:
          description: Alert identity
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.firingOftenAlert'
        node:
          description: Node where this alert fires
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.MisconfiguredNode'
        transitions:
          description: Number of transitions within the lookback window
          type: integer
          example: 100
    github_com_netdata_cloud-alarm-processor-service_api.silencedLongItem:
      type: object
      properties:
        alert:
          description: Alert identity
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.silencedLongAlert'
        count:
          description: Number of dispatch events where the alert was silenced within the lookback window
          type: integer
          example: 72
        first_silenced:
          description: Timestamp of the first silenced dispatch event, in unix milliseconds
          type: integer
          example: 1710892800000
        last_silenced:
          description: Timestamp of the last silenced dispatch event, in unix milliseconds
          type: integer
          example: 1711497600000
        node:
          description: Node where this alert is silenced
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.MisconfiguredNode'
    github_com_netdata_cloud-alarm-processor-service_api.firingOftenResponse:
      type: object
      properties:
        items:
          description: Individual alerts that exceeded the transition threshold
          type: array
          items:
            $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.firingOftenItem'
        totals:
          description: Aggregated counts across all firing-often items
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.firingOftenTotals'
    github_com_netdata_cloud-alarm-processor-service_api.firingOftenTotals:
      type: object
      properties:
        items:
          description: Number of alerts flagged as firing too often
          type: integer
          example: 5
        transitions:
          description: Sum of transitions across all flagged alerts
          type: integer
          example: 420
    github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedThresholds:
      type: object
      properties:
        duration_seconds:
          description: Minimum raised duration in seconds to flag an alert (default 1209600, max 7776000)
          type: integer
          example: 1209600
    errors.ValidationError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    github_com_netdata_cloud-alarm-processor-service_api.firingOftenThresholds:
      type: object
      properties:
        transitions:
          description: Minimum number of transitions to flag an alert (default 30, max 5000)
          type: integer
          example: 30
        window_seconds:
          description: Lookback window in seconds for counting transitions (default 259200, max 7776000)
          type: integer
          example: 259200
    github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedTotals:
      type: object
      properties:
        critical:
          description: Breakdown for critical-status alerts
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedStatusTotal'
        duration_seconds:
          description: Sum of raised durations in seconds across all items
          type: integer
          example: 259200
        items:
          description: Number of stuck alerts
          type: integer
          example: 3
        warning:
          description: Breakdown for warning-status alerts
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedStatusTotal'
    github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedResponse:
      type: object
      properties:
        items:
          description: Individual alerts stuck in a raised state, sorted by duration descending
          type: array
          items:
            $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedItem'
        totals:
          description: Aggregated counts and durations across all stuck-raised items
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedTotals'
    errors.Error:
      type: object
      properties:
        details:
          type: object
          additionalProperties: {}
        errorCode:
          type: string
        errorMessage:
          type: string
        errorMsgKey:
          type: string
        validationErrors:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/errors.ValidationError'
    github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedItem:
      type: object
      properties:
        alert:
          description: Alert identity and current state
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedAlert'
        node:
          description: Node where this alert is stuck
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.MisconfiguredNode'
    github_com_netdata_cloud-alarm-processor-service_api.dispatchNoneResponse:
      type: object
      properties:
        items:
          description: Individual alerts that exceeded the non-dispatched event threshold
          type: array
          items:
            $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.dispatchNoneItem'
        totals:
          description: Aggregated counts across all dispatch-none items
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.dispatchNoneTotals'
    github_com_netdata_cloud-alarm-processor-service_api.misconfiguredAlertsThresholds:
      type: object
      properties:
        dispatch_none:
          description: Thresholds for the dispatch-none category
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.dispatchNoneThresholds'
        firing_often:
          description: Thresholds for the firing-often category
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.firingOftenThresholds'
        silenced_long:
          description: Thresholds for the silenced-long category
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.silencedLongThresholds'
        stuck_raised:
          description: Thresholds for the stuck-raised category
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedThresholds'
    github_com_netdata_cloud-alarm-processor-service_api.misconfiguredAlertsResponse:
      type: object
      properties:
        dispatch_none:
          description: Results for alerts where no notification was dispatched; nil when category is excluded
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.dispatchNoneResponse'
        firing_often:
          description: Results for alerts transitioning too frequently; nil when category is excluded
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.firingOftenResponse'
        silenced_long:
          description: Results for alerts silenced for too long; nil when category is excluded
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.silencedLongResponse'
        stuck_raised:
          description: Results for alerts stuck in a raised state; nil when category is excluded
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.stuckRaisedResponse'
        thresholds:
          description: Thresholds used for the calculation; always present
          allOf:
          - $ref: '#/components/schemas/github_com_netdata_cloud-alarm-processor-service_api.misconfiguredAlertsThresholds'
    github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.silencingRule:
      type: object
      properties:
        account_id:
          description: The Account ID of the user that created the Silencing Rule
          type: string
          format: uuid
          example: 0deede74-2257-48d7-8b3b-22e3728cd2ff
        alert_contexts:
          description: The Alert Contexts to which the Silencing Rule is applicable
          type: array
          items:
            type: string
          example:
          - system.cpu
          - cpu.cpu
        alert_instances:
          description: The Alert Instances to which the Silencing Rule is applicable
          type: array
          items:
            type: string
          example:
          - system.post_update_reboot_status
        alert_names:
          description: The Alert names to which the Silencing Rule is applicable
          type: array
          items:
            type: string
          example:
          - 10min_cpu_iowait
        alert_roles:
          description: The Alert Roles to which the Silencing Rule is applicable
          type: array
          items:
            type: string
          example:
          - webmaster
        disabled:
          description: true if the Silencing Rule is Disabled
          type: boolean
          example: false
        host_labels:
          description: The host label key-values targeting the Nodes the Silencing Rule applies to
          type: object
          additionalProperties:
            type: string
          example:
            '{"os"': '"linux"}'
        id:
          description: The Silencing Rule ID
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        integration_ids:
          description: The Alert Notification Methods Integration IDs to which the Silencing Rule is applicable
          type: array
          items:
            type: string
          example:
          - 303f0cc7-8613-4960-bea6-827be15cb043
          - 32000626-37df-4c20-9dd0-cbe2c834384e
        lasts_until:
          description: The end of the time window during which the Silencing Rule is applicable
          type: string
          example: '2025-05-20T01:49:01.803Z'
        name:
          description: The Silencing Rule friendly name
          type: string
          example: notify only for Criticals
        node_ids:
          description: The Node IDs to which the Silencing Rule is applicable
          type: array
          items:
            type: string
            format: uuid
          example:
          - 21b52a82-8a5f-4a92-8446-8a84c7d1539c
          - c6b6bcc9-27f1-47c0-ab47-c9cd2b6fc45a
          - 805e93d7-ad28-4003-a3cb-83e42d1765df
        read_only:
          description: true if the Silencing Rule is ReadOnly and cannot be edited
          type: boolean
          example: false
        room_ids:
          description: The Room IDs to which the Silencing Rule is applicable
          type: array
          items:
            type: string
            format: uuid
          example:
          - 7314a1f2-dcc9-44cb-b9af-297a362bd800
          - fff17c3c-4a7c-4990-87c7-dcb7e5d70de8
        rrule:
          description: The RRule string defining the recurrence pattern of the Silencing Rule, if any
          type: string
          example: RRULE:FREQ=DAILY
        severities:
          description: The Alert Severities to which the Silencing Rule is applicable
          type: array
          items:
            type: string
            enum:
            - CLEAR
            - WARNING
            - CRITICAL
          example:
          - WARNING
          - CRITICAL
        starts_at:
          description: The beginning of the time window during which the Silencing Rule is applicable
          type: string
          example: '2025-05-19T13:49:01.803Z'
        state:
          description: The current state of the Silencing Rule
          type: string
          enum:
          - INACTIVE
          - ACTIVE
          - SCHEDULED
          example: ACTIVE
        timezone:
          description: 'The IANA timezone the Silencing Rule''s recurrence is anchored to, if any.

            All times stay UTC on the wire; the timezone is applied only when computing

            recurrence, so it fires at the intended wall-clock time across DST transitions.'
          type: string
          example: Europe/Lisbon
    github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.evaluateRRuleRes:
      type: object
      properties:
        has_more:
          description: Whether there are more occurrences beyond the limit
          type: boolean
          example: false
        occurrences:
          description: List of occurrence timestamps within the window
          type: array
          items:
            $ref: '#/components/schemas/github_com_netdata_cloud-api-docs_cloud-alarm-processor-service_api.occurrence'
        rrule:
          description: The normalized rrule string
          type: string
          example: 'DTSTART:20250519T134901Z

            RRULE:FREQ=DAILY'
    github_com_netdata_cloud-alarm-processor-service_api.MisconfiguredNode:
      type: object
      properties:
        id:
          description: Node unique identifier
          type: string
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        name:
          description: Node hostname
          type: string
          example: ip-172-31-0-1
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token from Netdata Cloud account settings
